<ion-header>

  <ion-navbar>
    <ion-title>Driver info</ion-title>
    <!-- <ion-icon class="wifi-status" *ngIf="!this.InternetStatus.getConnectionStatus()" name="wifi"></ion-icon> -->
  </ion-navbar>

</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngIf="driver">
            <ion-thumbnail item-left>
                <img [src]="driver.image_profile">
            </ion-thumbnail>
            <h2>{{ driver.firstname }} {{ driver.lastname }}</h2>
            <p>{{ driver.phoneNumber }}</p>
        </ion-item>
    </ion-list>
</ion-content>
