<ion-header>

  <ion-navbar>
    <ion-title *ngIf="run">{{run.title}}</ion-title>
    <ion-icon class="wifi-status" *ngIf="!this.InternetStatus.getConnectionStatus()" name="wifi"></ion-icon>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="refreshRun($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="run">

    <ion-card class="status" [attr.status]="run.status">
      <ion-card-content>
        <div [ngSwitch]="run.status">
          <span *ngSwitchCase="RunStatusEnum.problem">Chaud !!!</span>
          <span *ngSwitchCase="RunStatusEnum.completed">Terminé</span>
          <span *ngSwitchCase="RunStatusEnum.inProgress">En Cours</span>
          <span *ngSwitchCase="RunStatusEnum.ready">Prêt</span>
          <span *ngSwitchCase="RunStatusEnum.empty">Ouvert</span>
          <span *ngSwitchCase="RunStatusEnum.organizingUsers">Recherche de chauffeur</span>
          <span *ngSwitchCase="RunStatusEnum.organizingVehicles">Choix des véhicules</span>
        </div>

      </ion-card-content>

    </ion-card>

    <div *ngIf="run && authStorage.user.belongsToRun(run) && this.InternetStatus.getConnectionStatus()" [ngSwitch]="run.status">
      <ion-card *ngSwitchCase="RunStatusEnum.ready">
        <ion-card-content>
          <button ion-button full color="secondary" icon-left (click)="start()">
            <ion-icon name="car"></ion-icon>
            Démarrer
          </button>
        </ion-card-content>
      </ion-card>

      <ion-card *ngSwitchCase="RunStatusEnum.inProgress">
        <ion-card-content>
          <button ion-button full color="danger" icon-left (click)="stop()">
            <ion-icon name="beer"></ion-icon>
            Arrêter
          </button>
        </ion-card-content>
      </ion-card>

    </div>

    <ion-card>

      <ion-card-header>Informations</ion-card-header>

      <ion-card-content>

        <ion-list no-lines>

          <ion-item>
            <ion-icon name="calendar" item-left></ion-icon>
            <h2>Planifié :</h2>
            <p>
              <strong>{{run.beginAt | date:'EEEE d MMM y'}}</strong> à {{run.beginAt | date:'shortTime'}}</p>
          </ion-item>

          <ion-item *ngIf="run.startAt">
            <ion-icon name="car" item-left></ion-icon>
            <span>
              <h2>Démarré :</h2>
              <p>
                <strong>{{run.startAt | date:'EEEE d MMM y'}}</strong> à {{run.startAt | date:'shortTime'}}</p>
            </span>
          </ion-item>

          <ion-item *ngIf="run.startAt && run.endAt">
            <ion-icon name="checkmark" item-left></ion-icon>
            <h2>Terminé :</h2>
            <p>
              <strong>{{run.endAt | date:'EEEE d MMM y'}}</strong> à {{run.beginAt | date:'shortTime'}}</p>
          </ion-item>

        </ion-list>

      </ion-card-content>

    </ion-card>

    <ion-card>

      <ion-card-header>Trajet</ion-card-header>

      <ion-card-content>

        <ion-list class="waypoints" no-lines>

          <ion-item *ngFor="let waypoint of run.waypoints">
            <ion-icon name="compass" item-left></ion-icon>
            <h2>{{waypoint.nickname}}</h2>
          </ion-item>

        </ion-list>

      </ion-card-content>

    </ion-card>

    <ion-card>

      <ion-card-header>Conducteurs</ion-card-header>

      <ion-card-content>

        <ion-list>
          <div class="runner" *ngFor="let runner of run.runners">
            <ion-item>
              <ion-grid item-content>
                <!-- my runner -->
                <ion-row *ngIf="belongsToRunner(runner)">
                  <ion-col col-6>
                    <div class="runner__user"  (click)="showProfil(runner.user)">
                      <ion-icon name="man" item-left></ion-icon>
                      <h2>{{runner.user.fullname}}</h2>
                    </div>
                  </ion-col>
                  <ion-col col-6>
                    <div class="runner__vehicle runner__vehicle--selectable">
                      <ion-icon name="car" item-left></ion-icon>
                      <h2 *ngIf="run.status == RunStatusEnum.completed">{{ runner.vehicle ? runner.vehicle.name : runner.vehicleCategory.type }}</h2>
                      <!-- a driver can only update the car if the run has stopped -->
                      <ion-select (ionChange)="selectVehicle($event,runner)" placeholder="Choisir véhicule">
                        <ion-option *ngFor="let vehicle of availableVehicles" [selected]="runner.vehicle && runner.vehicle.id == vehicle.id" [value]="vehicle">{{vehicle.name}}</ion-option>
                      </ion-select>
                    </div>
                  </ion-col>
                </ion-row>
                <!-- it isn't my run, and can i take it -->
                <ion-row *ngIf="!belongsToRunner(runner) && !runner.user && !alreadyInRun() && run.status != RunStatusEnum.completed">
                  <ion-col col-12>
                    <div class="runner__user runner__user--selectable">
                      <button ion-button full (click)="assignRunner(runner)">Je prends le run !</button>
                    </div>
                  </ion-col>
                </ion-row>
                <!-- it isn't my run -->
                <ion-row *ngIf="!belongsToRunner(runner)">
                  <ion-col col-6>
                    <div *ngIf="runner.user" class="runner__user"  (click)="showProfil(runner.user)">
                      <ion-icon name="man" item-left></ion-icon>
                      <h2>{{runner.user.fullname}}</h2>
                    </div>
                  </ion-col>
                  <ion-col *ngIf="runner.user" col-6>
                    <div class="runner__vehicle">
                      <ion-icon name="car" item-left></ion-icon>
                      <h2>{{ runner.vehicle ? runner.vehicle.name : runner.vehicleCategory.type }}</h2>
                    </div>
                  </ion-col>
                </ion-row>
                </ion-grid>
            </ion-item>

          </div>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
