page-run {

  @each $status, $value in map-remove($runStatus) {
    ion-card.status[status=#{$status}] {
      border-left: 10px solid $value;
    }
  }

  /*.select-vehicle{
    max-width: 100%;
    .select-placeholder{
      color: #387ef5;
    }
  }*/

  ion-list.waypoints {

    ion-item {

      ion-icon {
        z-index: 2000;
      }

      &::before,
      &::after {
        position: absolute;
        left: 26px;
        z-index: 1999;
        width: 5px;
        background: #000000;
        content: '';
      }

      &::before {
        top: 0;
        height: 15px;
      }

      &::after {
        top: 35px;
        bottom: 0;
      }

      &:first-child::before {
        display: none;
      }

      &:last-child::after {
        display: none;
      }
    }
  }

  .button--disabled {
      .item-inner {
          background: none !important;
      }
  }
  .runner{
    //& *{
    //  display: inline;
    //}
    h2{
      width: auto !important;
      display: inline;
    }
    ion-label{
      margin-top: 0;
      margin-bottom: 0;
    }
    ion-select{
      display: inline-block;
      margin:0;
      height: 30px;
      & .select-text, & .select-icon{
        display:inline-block;
      }
      & .select-icon{
        margin-left: 4px;
        //position: absolute;
        top: 0;
        right: 0;
      }
    }
    &__user, &__vehicle{
      //display: inline;
      //width: 100% !important;
      text-align: left;
    }
  }
}
