<ion-header>

  <ion-navbar>
    <ion-title *ngIf="run">{{run.title}}</ion-title>
    <ion-icon class="wifi-status" *ngIf="!this.InternetStatus.getConnectionStatus()" name="wifi"></ion-icon>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="refreshRun($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="run">

    <ion-card class="status" [attr.status]="run.status">
      <ion-card-content>
        <div [ngSwitch]="run.status">
          <span *ngSwitchCase="RunStatusEnum.problem">Chaud !!!</span>
          <span *ngSwitchCase="RunStatusEnum.completed">Terminé</span>
          <span *ngSwitchCase="RunStatusEnum.inProgress">En Cours</span>
          <span *ngSwitchCase="RunStatusEnum.ready">Prêt</span>
          <span *ngSwitchCase="RunStatusEnum.empty">Ouvert</span>
          <span *ngSwitchCase="RunStatusEnum.organizingUsers">Recherche de chauffeur</span>
          <span *ngSwitchCase="RunStatusEnum.organizingVehicles">Choix des véhicules</span>
        </div>

      </ion-card-content>

    </ion-card>

    <div *ngIf="run && authStorage.user.belongsToRun(run) && this.InternetStatus.getConnectionStatus()" [ngSwitch]="run.status">
      <ion-card *ngSwitchCase="RunStatusEnum.ready">
        <ion-card-content>
          <button ion-button full color="secondary" icon-left (click)="start()">
            <ion-icon name="car"></ion-icon>
            Démarrer
          </button>
        </ion-card-content>
      </ion-card>

      <ion-card *ngSwitchCase="RunStatusEnum.inProgress">
        <ion-card-content>
        <button ion-button full color="danger" icon-left (click)="stop()">
          <ion-icon name="beer"></ion-icon>
          Arrêter
        </button>
        </ion-card-content>
      </ion-card>

    </div>

    <ion-card>

      <ion-card-header>Informations</ion-card-header>

      <ion-card-content>

        <ion-list no-lines>

          <ion-item>
            <ion-icon name="calendar" item-left></ion-icon>
            <h2>Planifié :</h2>
            <p><strong>{{run.beginAt | date:'EEEE d MMM y'}}</strong> à {{run.beginAt | date:'shortTime'}}</p>
          </ion-item>

          <ion-item *ngIf="run.startAt">
            <ion-icon name="car" item-left></ion-icon>
            <span>
              <h2>Démarré :</h2>
              <p><strong>{{run.startAt | date:'EEEE d MMM y'}}</strong> à {{run.startAt | date:'shortTime'}}</p>
            </span>
          </ion-item>

          <ion-item *ngIf="run.startAt && run.endAt">
            <ion-icon name="checkmark" item-left></ion-icon>
            <h2>Terminé :</h2>
            <p><strong>{{run.endAt | date:'EEEE d MMM y'}}</strong> à {{run.beginAt | date:'shortTime'}}</p>
          </ion-item>

        </ion-list>

      </ion-card-content>

    </ion-card>

    <ion-card>

      <ion-card-header>Trajet</ion-card-header>

      <ion-card-content>

        <ion-list class="waypoints" no-lines>

          <ion-item *ngFor="let waypoint of run.waypoints">
            <ion-icon name="compass" item-left></ion-icon>
            <h2>{{waypoint.nickname}}</h2>
          </ion-item>

        </ion-list>

      </ion-card-content>

    </ion-card>

    <ion-card>

      <ion-card-header>Conducteurs</ion-card-header>

      <ion-card-content>

        <ion-list no-lines>

          <button ion-item *ngFor="let runner of run.runners" (click)="showRunner(runner, run)" [class.button--disabled]="!this.InternetStatus.getConnectionStatus()">
            <ion-icon name="car" item-left></ion-icon>
            <h2 *ngIf="runner.vehicle">{{runner.vehicle.name}}</h2>
            <h2 *ngIf="!runner.vehicle && runner.vehicleCategory">{{runner.vehicleCategory.type}} ??</h2>
            <h2 *ngIf="!runner.vehicle && !runner.vehicleCategory">??</h2>
            <p *ngIf="runner.user">{{runner.user.fullname}}</p>
            <p *ngIf="!runner.user">-</p>
          </button>

        </ion-list>

      </ion-card-content>

    </ion-card>

  </div>

</ion-content>
