<ion-header>

  <ion-navbar>
    <ion-title>Nom du Run (fake-backend)</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="refreshRunner($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="runner">

    <ion-item *ngIf="runner.user" (click)="showProfil(runner.user)">
      <ion-icon name="man" item-left></ion-icon>
      <h2>{{runner.user.fullname}}</h2>
    </ion-item>

    <ion-item *ngIf="!runner.user">
      <ion-icon name="man" item-left></ion-icon>
      <button ion-button full (click)="takeRunner(runner)">Je prends le run !</button>
    </ion-item>

    <ion-item *ngIf="runner.vehicle">
      <ion-icon name="car" item-left></ion-icon>
      <h2>{{runner.vehicle.name}}</h2>
    </ion-item>

    <ion-item *ngIf="!runner.vehicle">
      <ion-icon name="car" item-left></ion-icon>
      <h2>Sélectionne un véhicule</h2>
      <ion-select class="select-vehicle" (ionChange)="selectVehicle($event)" [placeholder]="'Choisi une ' + runner.vehicleCategory.type">
        <ion-option *ngFor="let vehicle of availableVehicles" [value]="vehicle">{{vehicle.name}}</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

</ion-content>
