page-home {
  #mainMenu{

    ion-header{
      background: #f7f7f7;
      border-bottom: 1px solid #c8c7cc;
    }
    .item.active{
      background: darken(#fff, 3%);
    }
    .item:last-of-type{
      bottom: -1px;
    }
    .button--bottom {
      position: absolute;
      bottom: 44px;
    }

  }
}
