page-home {
  #mainMenu{

    ion-header{
      border-bottom: 1px solid #c8c7cc;
      background: #f7f7f7;
    }
    .item.active{
      background: darken(#fff, 3%);
    }
    button.button--last {
       bottom: 44px;
    }
    .button--bottom {
      position: absolute;
      bottom: 90px;
    }
    .button--not {
        bottom: -1px;
        background-color: #ECECEC;
        .item-inner {
            background-image: none;
        }
    }
  }
}
