<!--
  Generated template for the Vehicle page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <ion-icon name="ios-profil"></ion-icon>Véhicule</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="refreshVehicleStatus($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="vehicle">
    <ion-card-content>
      <ion-card-title>
        <h1><strong>{{vehicle.name}} - {{vehicle.plateNumber}}</strong></h1>
      </ion-card-title>
      <div *ngIf="vehicle.status == VehicleStatusEnum.taken" (click)="showUser(vehicle.user)">
        <h2>Occupé par <strong>{{vehicle.user.firstname}} {{vehicle.user.lastname}}</strong></h2>
      </div>
      <p *ngIf="vehicle.status == VehicleStatusEnum.free">
        Libre
      </p>

      <h4>Commentaires:</h4>

      <table>
        <tr *ngFor="let comment of vehicle.comments">
          <td valign="top">
            <strong>{{comment.author.fullname}}</strong><br/>
            {{comment.createdAt | date:'dd.MM.y à HH:mm'}}
          </td>
          <td>
            <p>{{comment.message}}</p>
          </td>
        </tr>
      </table>

    </ion-card-content>
  </ion-card>

</ion-content>
