<ion-header>

  <ion-navbar>
    <ion-title *ngIf="vehicle">{{vehicle.name}}</ion-title>
      <ion-icon class="wifi-status" *ngIf="!this.InternetStatus.getConnectionStatus()" name="wifi"></ion-icon>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="refreshVehicleStatus($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="vehicle">
      <ion-card class="status" [attr.status]="vehicle.state">
        <ion-card-content>
          <div [ngSwitch]="vehicle.state">
            <span *ngSwitchCase="VehicleStatusEnum.free">Libre</span>
            <span *ngSwitchCase="VehicleStatusEnum.taken">Occupé</span>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>Informations</ion-card-header>
        <ion-card-content>
          <ion-list no-lines>
            <ion-item>
              <ion-icon name="car" item-left></ion-icon>
              <h2>Immatriculation :</h2>
              <p>{{ vehicle.plateNumber }}</p>
            </ion-item>

            <ion-item *ngIf="vehicle.user && vehicle.user.fullname != null">
                <ion-icon name="person" item-left></ion-icon>
                <h2>Conducteur :</h2>
                <p>{{ vehicle.user.fullname }}</p>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-card-header>Commentaires</ion-card-header>
          <ion-item>
            <ion-button ion-button full (click)="openCommentModal()">Ajouter un commentaire</ion-button>
          </ion-item>
          <ion-item class="vehicle__comment" *ngFor="let comment of vehicle.comments">
              <ion-grid>
                <ion-row>
                  <ion-col class="vehicle__comment__info"><span class="vehicle__comment__info--author">{{ comment.author.fullname }}</span></ion-col>
                  <ion-col class="vehicle__comment__info"><span class="vehicle__comment__info--createdat">{{ comment.createdAt  | date:'dd.MM.yy à HH:mm' }}</span></ion-col>
                </ion-row>
                <ion-row>
                    <p class="vehicle__comment__info vehicle__comment__info--message">
                        {{ comment.message }}
                    </p>
                </ion-row>
            </ion-grid>
          </ion-item>
      </ion-card>

  </div>

</ion-content>
