// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$warning: #fd8b2d;
$error: #ff0000;
$great: #69bb7b;
$ended: #ce50e1;
$darken: rgba(0, 0, 0, 0.1);
$blue: #387ef5;

$runStatus: (
  empty: $darken,
  organizing-users: $warning,
  organizing-vehicles: $warning,
  ready: $great,
  inProgress: $great,
  completed: $ended,
  problem: $error
);

$vehicleStatus: (
  free: $great,
  taken: $error
);

.wifi-status {
  float: right;
  margin-right: 15px;
  font-size: 16px;
  margin-top: auto;
  margin-bottom: auto;
  color: $error;
  line-height: 1.5;
}
