<ion-header>

  <ion-navbar>
    <ion-title>
      <ion-icon name="ios-clipboard-outline"></ion-icon> Board
    </ion-title>
    <ion-icon class="wifi-status" *ngIf="!this.InternetStatus.getConnectionStatus()" name="wifi"></ion-icon>
    <ion-icon class="open-filters" name="color-wand" (click)="openModal()"></ion-icon>
    <ion-icon name="settings" icon-right (click)="openSettings()"></ion-icon>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="refreshRuns($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <ion-item-group *ngFor="let group of runs | filterRuns | groupRuns">

      <ion-item-divider sticky>
        <ion-label>{{group.date | date:'d MMMM EEEE y'}}</ion-label>
      </ion-item-divider>

      <ion-item *ngFor="let run of group.runs" (click)="showRun(run)" [attr.status]="run.status">
        <ion-label>
          <h2>{{run.title}}</h2>
          <p>
            <strong>{{run.beginAt | date:'d MMM y'}}</strong> à {{run.beginAt | date:'shortTime'}}
          </p>
          <p>{{run.waypoints.length > 0 ? run.waypoints[0].nickname : ''}}</p>
        </ion-label>
      </ion-item>

    </ion-item-group>

    <ion-item *ngIf="!(runs | filterRuns).length">
      <ion-label>
        <p>Aucun run</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
