<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon class="wifi-status" *ngIf="!this.InternetStatus.getConnectionStatus()" name="wifi" ></ion-icon><ion-icon name="ios-clipboard-outline"></ion-icon>&nbsp;Board&nbsp;<ion-icon *ngIf="nbUrgentRuns() || filters.urgent.isEnabled" class="filter filter__urgent {{filters.urgent.isEnabled?'filter__urgent--enabled':''}}" (click)="this.onFilterClick('urgent')">{{nbUrgentRuns()}}</ion-icon>
    </ion-title>


  </ion-navbar>
  <div class="filters" padding>
    <div class="filter" style="display: inline-block;">
        <ion-checkbox (ionChange)="this.onFilterClick('mine')" checked="{{filters.mine.isEnabled}}"></ion-checkbox>
        <ion-label style="display: inline-block;">Mes runs</ion-label>
    </div>

    <div class="filter" style="display: inline-block;">
        <ion-checkbox (ionChange)="this.onFilterClick('hideCompleted')" checked="{{filters.hideCompleted.isEnabled}}"></ion-checkbox>
        <ion-label style="display: inline-block;">Terminés</ion-label>
    </div>

    <div class="filter" style="display: inline-block;">
        <ion-checkbox (ionChange)="onFilterClick('hideNotReady')" checked="{{filters.hideNotReady.isEnabled}}"></ion-checkbox>
        <ion-label style="display: inline-block;">Prêts</ion-label>
    </div>
  </div>
</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="refreshRuns($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <ion-item-group *ngFor="let group of getRuns() | groupRuns">

      <ion-item-divider sticky>
        <ion-label>{{group.date | date:'d MMMM EEEE y'}}</ion-label>
      </ion-item-divider>

      <ion-item *ngFor="let run of group.runs" (click)="showRun(run)" [attr.status]="run.status">
        <ion-label class="run">
          <h2 class="run__title">{{run.title}}</h2>
          <p class="run__time">{{run.beginAt | date:'shortTime'}}</p>
          <p class="run__waypoint">{{run.waypoints.length > 0 ? run.waypoints[0].nickname : ''}}</p>
        </ion-label>
      </ion-item>

    </ion-item-group>

    <ion-item *ngIf="!getRuns().length">
      <ion-label>
        <p>Aucun run</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
