page-runs {
  @each $status, $value in map-remove($runStatus) {
    ion-item[status='#{$status}'] ion-label {
      border-left: 2px solid $value;
      padding-left: 10px;
    }
  }

  .runs-title-fix{
    display: inline-flex;
  }

  .open-filters {
    float: right;
    margin-right: 15px;
  }

  .filters {
    display: flex;
    justify-content: space-around;

    .filter,
    ion-label {
      display: inline-block;
    }

    ion-label {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 5px;
    }

    .filter__item {
      padding: 7px;
      border-radius: 3px;
      width: 90px;
      background-color: $blue;
      color: #fff;
        border: 1px solid $blue;

      &.filter__item--enabled {
        background-color: #fff;
        color: $blue;
      }
    }
  }

  .filter__urgent {
    font-family: inherit;
    font-size: 11px;
    width: 25px;
    height: 25px;
    padding-top: 8px;
    border-radius: 15px;
    background-color: $error;
    text-align: center;
    color: #fff;
    margin-right: 10px;
    float: right;
  }

  .filter__urgent--enabled {
    background-color: transparent;
    border: 0.2rem solid $error;
    color: $error;
    padding-top: 6px;
    font-weight: bold;
  }

  .run {
    .row {
      margin-top: -6px;
    }
    .row:last-of-type {
      margin-bottom: -6px;
    }
    .col {
      padding-left: 0px;
      text-align: left;
    }
    .grid {
      padding: 0 !important;
    }
    .run__title {
      //display: inline-block;
    }

    .run__time {
      //display: inline-block;
      float: right;
    }
    .run__waypoint {
      //display: inline-block;
    }
    .run__mine {
      //display: inline-block;
      float: right;
    }
  }
}
