page-runs {
  @each $status, $value in map-remove($runStatus) {
    ion-item[status='#{$status}'] ion-label {
      border-left: 2px solid $value;
      padding-left: 10px;
    }
  }

  .open-filters {
    float: right;
    margin-right: 15px;
  }

  .filters {
    .filter,
    ion-label {
      display: inline-block;
    }

    ion-label {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 5px;
    }
  }

  .run {
    .run__title {
      display: inline-block;
    }

    .run__time {
      display: inline-block;
      float: right;
    }
  }
}
