<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="runs-title-fix">
      Drivers
    </ion-title>
    <!-- <ion-icon class="wifi-status" *ngIf="!this.InternetStatus.getConnectionStatus()" name="wifi" ></ion-icon> -->
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="refreshDrivers($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item *ngFor="let driver of getDrivers()" (click)="showDriver(driver)" [attr.status]="driver.status">
          <ion-label class="driver">
            <h2>{{ driver.firstname }} {{ driver.lastname }}</h2>
          </ion-label>
        </ion-item>
      <ion-item *ngIf="!getDrivers().length">
        <ion-label>
          <p>Aucun Conducteur</p>
        </ion-label>
      </ion-item>

    </ion-list>
</ion-content>
