<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name="ios-car"></ion-icon> Véhicules</ion-title>
    <ion-icon class="wifi-status" *ngIf="!this.InternetStatus.getConnectionStatus()" name="wifi"></ion-icon>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="refreshVehicleStatus($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <ion-item-group *ngFor="let group of vehicleStatus | groupVehicleStatus">

      <ion-item-divider sticky>
        <ion-label>{{group.type.type}}</ion-label>
      </ion-item-divider>

      <ion-item *ngFor="let vehicleStatus of group.vehicleStatus" (click)="showVehicle(vehicleStatus)">
        <ion-label>
          <h2>{{vehicleStatus.vehicle.name}}</h2>
        </ion-label>
        <ion-note *ngIf="vehicleStatus.user" item-right>{{vehicleStatus.user.fullname}}</ion-note>
        <ion-note *ngIf="!vehicleStatus.user" item-right class="free">Libre</ion-note>
      </ion-item>

    </ion-item-group>

    <ion-item *ngIf="!vehicleStatus.length">
      <ion-label>
        <p>Aucune Voiture</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
