<ion-header>
  <ion-navbar>
    <ion-title>
      RUNS
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-content id="container-list">
    <div class="margin-top"></div>
    <div class="list-item" *ngFor="let vehicle of vehicles">
      <div [class]="getCardStyle(vehicle)">
        <div [class]="getBorderStyle(vehicle)"></div>
        <div class="content-right">
          <div class="title">
            {{vehicle.vehicle.name}}
          </div>
          <div class="details-vehicle">
              <div class="status">{{vehicle.status}}</div>
              <div *ngIf="vehicle.user" class="user">{{vehicle.user.firstname }} {{vehicle.user.lastname}}</div>
          </div>
        </div>
      </div>      
    </div>
  </ion-content>
</ion-content>