page-vehicles {

  #container-list {
    .margin-top{
      height: 48px;
    }

    .list-item{
      padding-left: 0px;
      display: block;

      .card{
        width: calc(100% - 16px);
        margin: 8px;
        margin-bottom: 0px;
        height: 90px;
        box-shadow: -2px 2px 8px rgba(0,0,0,0.2);
        border-radius: 3px;
        overflow: hidden;
        

        .border-left{
          width: 5px;
          height: 100%;
          margin-right: 5px;
          display: inline-block;
        }

        .red{
          background-color: red;
          box-shadow: 0 0 6px rgba(255,0,0,0.3);
        }

        .green{
          background-color: rgb(0,250,80);
          box-shadow: 0 0 6px rgba(0,250,80,0.3);
        }
        
        .grey{
          background-color: rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        }

        .content-right{
          display: inline-block;
          height: 47px;
          width: 90%;
          margin-top: 15px;
          margin-bottom: 15px;
          vertical-align: top;

          .title {
                display: block;
                font-size: 35px;
                margin-top: -10px;
                height: 40px;
                width: 90%;
                text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
                overflow: hidden;
          }

          .status {
            font-size: 14px;
            color: gray;
          }

          .details-vehicle {
            display: block;
            width: 90%;
            overflow: hidden;

            .light-date{
              color: rgba(0,0,0,0.5);
            }

            svg {
              height: 11px;
              opacity: 0.7;
            }
          }

          .title-run{
            display: block;
            font-size: 22px;
            margin-top: 10px;
            height: 29px;
            width: 90%;
            text-shadow: 0 0 6px rgba(0,0,0,0.2);
            overflow: hidden;
          }
        }
      }
      .free {
         height: 70px;
      }
    }
  }
}
